*{
    box-sizing: border-box;
    border: 0ch;
    padding: 0%;
}

.container {
width: 80%;
margin: auto;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(61, 60, 60);

}
header {
    background-color: green;
    color: white;
    text-align: right;
    padding: 20px;
}

header span{
    color: orange;
}
header h1{
    float: left;
}
header ul li{
    display: inline-block;
    margin: 5px;}

header li a{
   
    text-decoration: none;
    color: white;}
header li a:hover{
    color: orange;
}
main{
    margin: 10px 0;
}
main h2{
    font-size: 3.6em;
    color: black;
    font-family: 'Times New Roman', Times, serif;

}
main h3{
    font-size: 2.2em;
    margin: 10px 0;
}
main img{
    width: 100%;
    margin-bottom: 10px;
}
p {
    font-size: 1.5em;
    word-spacing: 2px;
    line-height: 30px;
}
iframe{
    float:right;
    margin: 5px 0px 5px 25px;
}
footer{
    height: 50px;
    background-color: green;
    padding: 0%;
    color: white;
    text-align: center;
}
table {
    border-collapse: collapse;
}
table th{
    font-size: 10px;
    text-align: center;
    background-color: lightseagreen;
    color: black;
    padding: 4px;
    border: 1px solid black;
}
td {
    text-align: left;
    height: auto;
    width: auto;
    font-size: 12px;
    background-color: lightseagreen;
    border: 1px solid black;
    padding 4px 8px;
}